<section>
  <div>
    <div>
      <img src="../../../assets/LogoWhite.svg" alt="White flower logo" />
      <img src="../../../assets/AgnesMR.svg" alt="AgnesMR logo" />
      <p>agnes.lica@gmail.com</p>
    </div>
    <div>
      <p>Fullstack web developer</p>
    </div>
  </div>
  <div>
    <p>Media</p>
    <ul>
      <li>
        <a href=""
          ><img src="../../../assets/Github.svg" alt="Github link"
        /></a>
      </li>
      <li>
        <a href=""
          ><img src="../../../assets/Linkedin.svg" alt="Linkedin link"
        /></a>
      </li>
      <li>
        <a href=""
          ><img src="../../../assets/Whatsapp.svg" alt="Whatsapp link"
        /></a>
      </li>
    </ul>
  </div>
</section>
