<section>
   <div class="leftContainer">
    <div>
      <img
        class="logo"
        src="../../../assets/LogoWhite.svg"
        alt="White flower logo"
      />
      <img src="../../../assets/AgnesMR.svg" alt="AgnesMR logo" />
      <p>agnes.lica@gmail.com</p>
    </div>
    <div>
      <p>Fullstack web developer</p>
    </div>
  </div>
  <div class="rigthContainer">
    <p>Media</p>
    <ul>
      <li>
        <a href="https://github.com/agnes-lica" target="_blank"
          ><img src="../../../assets/Github.svg" alt="Github link"
        /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/agnesmr/?locale=en_US" target="_blank"
          ><img src="../../../assets/Linkedin.svg" alt="Linkedin link"
        /></a>
      </li>
      <li>
        <a href="https://wa.me/55092992487395" target="_blank"
          ><img src="../../../assets/Whatsapp.svg" alt="Whatsapp link"
        /></a>
      </li>
    </ul>
  </div>
</section>
