<section>
  <div>
    <img
      class="logo"
      src="../../../assets/LogoWhite.svg"
      alt="White flower logo"
    />
    <img src="../../../assets/AgnesMR.svg" alt="AgnesMR logo" />
  </div>
  <ul>
    <li>
      <a href="#"><span>#</span>home</a>
    </li>
    <li>
      <a href="#projects"><span>#</span>works</a>
    </li>
    <li>
      <a href="#aboutMe"><span>#</span>about me</a>
    </li>
    <li>
      <a href="#contacts"><span>#</span>contacts</a>
    </li>
    <li class="custom-select">
      <select name="lenguage" id="1">
        <option value="EN">EN</option>
        <option value="PT">PT</option>
      </select>
    </li>
  </ul>
</section>
