<section>
  <div class="linkContainer">
    <img
      class="stroke"
      src="../../../assets/Line 10 (Stroke).svg"
      alt="vertical stroke"
    />
    <a href="https://github.com/agnes-lica" target="_blank"
      ><img src="../../../assets/Github.svg" alt="Github link"
    /></a>
    <a href="https://www.linkedin.com/in/agnesmr/" target="_blank"
      ><img src="../../../assets/Linkedin.svg" alt="Linkedin link"
    /></a>
    <a href="https://wa.me/55092992487395" target="_blank"
      ><img src="../../../assets/Whatsapp.svg" alt="Whatsapp link"
    /></a>
  </div>
  <img
    class="decoration"
    src="../../../assets/Dots2colum.svg"
    alt="Decorative dots"
  />
  <img
    class="decoration"
    src="../../../assets/Rectangle 25.svg"
    alt="Decorative rectangle"
  />
  <img
    class="decoration"
    src="../../../assets/Dots3colum.svg"
    alt="Decorative dots"
  />
</section>
