<section>
  <div>
    <img src="../../../assets/Line 10 (Stroke).svg" alt="vertical stroke" />
    <a href=""><img src="../../../assets/Github.svg" alt="Github link" /></a>
    <a href=""
      ><img src="../../../assets/Linkedin.svg" alt="Linkedin link"
    /></a>
    <a href=""
      ><img src="../../../assets/Whatsapp.svg" alt="Whatsapp link"
    /></a>
  </div>
  <img src="../../../assets/Dots2colum.svg" alt="Decorative dots" />
  <img src="../../../assets/Rectangle 25.svg" alt="Decorative rectangle" />
  <img src="../../../assets/Dots3colum.svg" alt="Decorative dots" />
</section>
