.container {
  display: table;
  height: fit-content;
  width: 100%;
}

.main {
  display: table-cell;
  vertical-align: top;
  background-color: var(--second-background-color);
  padding: 1rem;
  width: 90%;
}

/*Asides*/
.left {
  height: 100%;
  width: 2rem;
  z-index: 2;
  float: left;
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.right {
  height: 100%;
  width: 2rem;
  float: right;
  vertical-align: top;
  position: relative;
}

/*Text*/
h2{
  color: var(--secondary-color);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-medium);
}

span{
  color: var(--primary-color);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-medium);
}

a{
  color: var(--gray-color);
  cursor: default;
}

/*Projects*/
.HeaderCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HeaderCard > div{
  display:flex;
 flex-direction: row;
}


app-project-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}