<section class="container">
  <!-- asides components -->
  <aside class="left"><app-aside-left></app-aside-left></aside>

  <section class="main">
    <!-- header component -->
    <header><app-header></app-header></header>

    <!-- main content -->
    <app-banner></app-banner>

    <!-- projects content -->
    <section class="projectContainer">
      <div class="HeaderCard">
        <div>
          <h2 id="projects"><span>#</span>projects</h2>
          <img src="../assets/pink line big.svg" alt="decorative pink line" />
        </div>
        <div>
          <a href="#projectContainer">View all ~~></a>
        </div>
      </div>
      <div class="projectCardsSection">
        <app-project-card></app-project-card>
      </div>
    </section>

    <!-- skill content -->
    <section class="skillsContainer">
      <div>
        <h2 id="skills"><span>#</span>skills</h2>
        <img src="../assets/pink line small.svg" alt="decorative pink line" />
      </div>
      <img
        src="../assets/dots and flowers.svg"
        alt="decorative dots and flowers"
      />
      <div>
        <app-skill-card></app-skill-card>
      </div>
    </section>

    <!-- about me content -->
    <app-profile></app-profile>

    <!-- contacts content -->
    <app-contacts></app-contacts>

    <!-- footer component -->
    <footer><app-footer></app-footer></footer>
  </section>
  <aside class="right"><app-aside-rigth></app-aside-rigth></aside>
</section>
