<section>
  <div>
    <div>
      <h1>I'm <span>Agnes</span> a <span>full-stack web developer</span></h1>
      <p>
        I craft responsive websites and data storage where technologies meet
        creativity
      </p>
      <a class="linkbutton" href="">Contact me</a>
    </div>
    <div>
      <img src="../assets/AgnesPhoto.png" alt="Agnes photo" />
      <div>
        <img src="../assets/pinksquare.svg" alt="Pink square" />
        <p>Currently working on <span>Portfolio</span></p>
      </div>
    </div>
  </div>
  <img
    src="../assets/quote.png"
    alt="Citation: Accident is the first building block of evolution. From  Amelia Brandt, Interstellar"
  />
</section>
