<section>
  <div class="containerBanner">
    <div>
      <h1>I'm <span>Agnes</span> a <span>full-stack web developer</span></h1>
      <p>
        I craft responsive websites and data storage where technologies meet
        creativity
      </p>
      <a class="linkbutton" href="#contacts">Contact me</a>
    </div>
    <div>
      <img class="photo" src="../assets/AgnesPhoto.png" alt="Agnes photo" />
      <div class="statusContainer">
        <img src="../assets/pinksquare.svg" alt="Pink square" />
        <p>Currently working on <br><span>Portfolio</span></p>
      </div>
    </div>
  </div>
  <img
    src="../assets/quote.png"
    alt="Citation: Accident is the first building block of evolution. From  Amelia Brandt, Interstellar"
  />
</section>