section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

article{
    min-width: 32rem;
    max-width: 60rem;
    color: var(--gray-color);
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

img{
    width: 20rem;
    justify-self: end;
}