<section>
  <div>
    <h2 id="aboutMe"><span>#</span>about me</h2>
    <img src="../assets/pink line medium.svg" alt="decorative pink line" />
  </div>
  <div>
    <article>
      Hello, I’m Agnes! I’m a full-stack web developer based in Manaus, Brazil.
      I can develop responsive websites from scratch and raise them into modern
      user-friendly web experiences. Also, I can create databases structure to
      function along-side with the front-end application. Transforming figma
      designs and database needs into a websites and code has been my passion
      for over a year since I discover coding as a essential part of my life. I
      always strive to learn about the newest technologies and frameworks.
    </article>
    <img src="../assets/Agnes photo2.png" alt="agnes photo" />
  </div>
</section>
