<section>
    <article>
      <p>Hello, I’m Agnes!</p>
      <p>I’m a full-stack web developer based in Manaus, Brazil.
        I can develop responsive websites from scratch and raise them into modern
        user-friendly web experiences. Also, I can create databases structure to
        function along-side with the front-end application.</p>
      <p>Transforming figma
        designs and database needs into a websites and code has been my passion
        for over a year since I discover coding as a essential part of my life. I
        always strive to learn about the newest technologies and frameworks.
      </p>
    </article>
      <img src="../assets/Agnes photo2.png" alt="agnes photo" />
  </section>